meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="og:type", content="website", data-rh)
meta(name="og:url", content="https://krzysztofzawisla.github.io")
meta(name="og:title", content="Krzysztof Zawisła - Portfolio")
meta(
  name="og:image",
  content="https://avatars0.githubusercontent.com/u/32432944?s=460&v=4"
)
meta(
  name="og:description",
  content="Krzysztof Zawisła Portfolio. Web page with important information about me and my projects."
)
meta(name="og:email", content="zawislakrzysztof.zk@gmail.com")
meta(name="theme-color", content="#000000")
meta(name="robots", content="index, follow")
meta(
  name="authors",
  content="Krzysztof Zawisła, zawislakrzysztof.zk@gmail.com"
)
meta(
  name="google-site-verification",
  content="QZBYMBz6z19QWbBLPVaMwd2r1W9GBovyfvkU1leassQ"
)
meta(name="reply-to", content="zawislakrzysztof.zk@gmail.com")
meta(name="url", content="https://krzysztofzawisla.github.io")
meta(name="identifier-URL", content="https://krzysztofzawisla.github.io")
meta(
  name="keywords",
  content="Krzysztof Zawisła, programmer, front-end, back-end, developer, fullstack, silesia, rybnik, portfolio"
)
meta(
  name="description",
  content="Krzysztof Zawisła Portfolio. Web page with important information about me and my projects."
)
link(
  rel="icon",
  href="https://avatars0.githubusercontent.com/u/32432944?s=460&v=4"
)
link(rel="manifest", href="%PUBLIC_URL%/manifest.json")
link(rel="canonical", href="https://krzysztofzawisla.github.io")
link(rel="preconnect", href="https://avatars0.githubusercontent.com")
link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
link(
  rel="link",
  href="https://avatars0.githubusercontent.com/u/32432944?s=460&v=4"
)
link(
  rel="preload stylesheet",
  as="style",
  href="https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Roboto:wght@400;700&display=swap",
  onload="this.onload=null;this.rel='stylesheet'"
)
title ZSB Rybnik
