meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="og:type", content="website", data-rh)
meta(name="og:url", content="https://zsbrybnik.pl")
meta(name="og:title", content="ZSB Rybnik")
meta(name="og:image", content="%PUBLIC_URL%/static/images/logo.jpg")
meta(name="og:description", content="ZSB Rybnik")
meta(name="og:email", content="contact@zsbrybnik.pl")
meta(name="theme-color", content="#e05415")
meta(name="robots", content="index, follow")
meta(
  name="authors",
  content="Krzysztof Zawisła, zawislakrzysztof.zk@gmail.com, Mateusz Perczak, mateusz.perczak.mp@gmail.com"
)
meta(name="google-site-verification", content="")
meta(name="reply-to", content="contact@zsbrybnik.pl")
meta(name="url", content="https://zsbrybnik.pl")
meta(name="identifier-URL", content="https://zsbrybnik.pl")
meta(name="keywords", content="ZSB, Zespół Szkół Budowlanych, Technikum")
meta(name="description", content="ZSB Rybnik")
link(rel="icon", href="%PUBLIC_URL%/static/images/logo.ico")
link(rel="manifest", href="%PUBLIC_URL%/manifest.json")
link(rel="canonical", href="https://zsbrybnik.pl")
link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
link(
  rel="preload stylesheet",
  as="style",
  href="https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Roboto:wght@400;700&display=swap",
  onload="this.onload=null;this.rel='stylesheet'"
)
title ZSB Rybnik
